<header class="college-header">
  <div class="left-section">
    <h2>SMART FAQ BOT</h2>
  </div>
  <div class="right-section">
    <ng-container *ngIf="userRole === 'superAdmin'">
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin/users" routerLinkActive="active">College Users</a>
    </ng-container>
    <a routerLink="/admin/knowledge-tree" routerLinkActive="active">Knowledge Management</a>
    <div class="user-actions">
      <button
        class="user-icon"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#userOffcanvasRight"
        aria-controls="userOffcanvasRight"
      >
        <i class="bi bi-person-circle"></i>
      </button>
    </div>

    <div class="settings-actions">
      <button
        class="settings-icon-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#settingsOffcanvasLeft"
        aria-controls="settingsOffcanvasLeft"
      >
        <i class="bi bi-gear-fill"></i>
        <span class="visually-hidden">Settings</span>
      </button>
    </div>
  </div>
</header>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="userOffcanvasRight"
  aria-labelledby="userOffcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="userOffcanvasRightLabel">Manage Account</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="offcanvas-menu">
      <li><a routerLink="/admin/core/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/change-password" routerLinkActive="active">Change Password</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="settingsOffcanvasLeft"
  aria-labelledby="settingsOffcanvasLeftLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="settingsOffcanvasLeftLabel">Settings</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <a class="dropdown-item" href="#">Download config files</a>
    </div>
    <div>
      <a class="dropdown-item" href="#">Multiple Chatbots</a>
    </div>
  </div>
</div>