<header class="admin-header">
    <div class="left-section">
      <h2>SMART FAQ BOT</h2>
    </div>
    <div class="right-section">
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin/users" routerLinkActive="active">College Users</a>
      <a routerLink="/admin/invite" routerLinkActive="active">Invite</a>
      <a routerLink="/admin/monitor" routerLinkActive="active">Monitoring</a>
      <button (click)="logout()">Logout</button>
    </div>
  </header>